# 1. 依赖包 (如果你的项目以后用到 npm，这个巨大的文件夹不能传)
node_modules/
miniprogram_npm/

# 2. 微信开发者工具的“个人私有配置” (包含你的 appid 和个性化设置，不要传)
project.private.config.json

# 3. Mac 系统产生的垃圾文件
.DS_Store

# 4. 运行日志和错误日志
npm-debug.log*
yarn-debug.log*
yarn-error.log*